.landing {
  background-color: #2f2f2f;
  background-image: url("/assets/partners/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.section-landing {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

.section-landing_text-heading {
  font-weight: 800;
  font-size: 4.2rem;
  font-family: "Rubik";
}

.section-landing_text-paragraph {
  font-weight: 800;
  font-size: 3.6rem;
}

.more {
  background-color: rgb(43, 43, 43) !important;
  color: rgb(19, 172, 228) !important;
}

.more:hover {
  background-color: rgb(43, 43, 43) !important;
  color: rgb(109, 113, 114) !important;
}